---
import BaseLayout from '../components/BaseLayout.astro';
const posts = await Astro.glob('./posts/*.md');
---

<BaseLayout>
  <h1>stuff!</h1>
  {posts.filter((post)=> !post.frontmatter.isDraft).map((post) => <li><a href={post.url}>{post.frontmatter.title}</li>)
</BaseLayout>
